<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>stream manager</title>

<link href="skin/css/main_page_style.css" rel="stylesheet" type="text/css" />

<!--导入树-->
<link href="smarty/templates/BellManager/codebase/dhtmlxtree.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="smarty/templates/BellManager/codebase/dhtmlxtree.js" type"text/JavaScript"></script>	
<script language="JavaScript" src="smarty/templates/BellManager/codebase/dhtmlxcommon.js" type"text/JavaScript"></script>

<script language="javascript">
function isNumber( s )
{ 
	var regu = "^[0-9]+$"; 
	var re = new RegExp(regu); 
	if (s.search(re) != -1) 
	{ 
		return true; 
	}
	else 
	{ 
		return false; 
	} 
} 
function trim(str)
{
   str=str.replace(/(^\s*)|(\s*$)/g,""); 
   return str;
}
function isNull( str )
{
	if ( str == "" || str==null) 
	return true;
	var regu = "^[ ]+$";
	var re = new RegExp(regu);
	return re.test(str);
}
function isChinaOrNumbOrLett(s)
{
	var regu = "^[0-9a-zA-Z\u4e00-\u9fa5]+$"; 
	var re = new RegExp(regu); 
	if (re.test(s)) 
	{ 
		return true; 
	}
	else
	{ 
		return false; 
	} 
} 

function checkip()
{

	var getip=document.getElementById('device_ip').value;
	 var regexp = /^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/;
	var valid = regexp.test(getip);
	
    if(!valid){//首先必须是 xxx.xxx.xxx.xxx 类型的数字，如果不是，返回false
	document.getElementById('device_ips').innerHTML="<font class='terminal_star'><{$stream_create.checkiperror|capitalize}></font>";
		document.getElementById('device_ip').focus();
		return false;
             }
	else
	{
	document.getElementById('device_ips').innerHTML="";
		document.getElementById('device_ip').focus();
	
	}		 
	getip.split('.').every(function(num){
                //切割开来，每个都做对比，可以为0，可以小于等于255，但是不可以0开头的俩位数
                //只要有一个不符合就返回false
                if(num.length > 1 && num.charAt(0) === '0'){
                    //大于1位的，开头都不可以是‘0’
					document.getElementById('device_ips').innerHTML="<font class='terminal_star'><{$stream_create.checkiperror|capitalize}></font>";
		document.getElementById('device_ip').focus();
                    return false;
                }else if(parseInt(num , 10) > 255){
                    //大于255的不能通过
					document.getElementById('device_ips').innerHTML="<font class='terminal_star'><{$stream_create.checkiperror|capitalize}></font>";
		document.getElementById('device_ip').focus();
                    return false;
                }
				document.getElementById('device_ips').innerHTML="";
		document.getElementById('device_ip').focus();
                return true;
            });		 
           
}


function checkform()
{	

	if(checkip()==false)
	{
		return false;
	}
	//验证组名
	if(isNull(trim(document.getElementById('devicename').value)))
	{
		document.getElementById('devicename_s').innerHTML="<font class='terminal_star'><{$stream_create.namenonull|capitalize}></font>";
		document.getElementById('devicename').focus();
		return false;
	}
	else
	{
		if(!isChinaOrNumbOrLett(trim(document.getElementById('devicename').value)))
		{
			document.getElementById('devicename_s').innerHTML="<font class='terminal_star'><{$stream_create.letter_number_Chinese|capitalize}></font>";
			document.getElementById('devicename').focus();
			return false;
		}
	}
	
}
</script>
</head>
<body>
<{include file="zhaoshengManager/soundsdeviceaddform.html"}>
<{include file="language/`$language`_foot.php"}> 
</body>
</html>
