
<form name="form2" class="terminal_form_to_body">
 <td>
  <div id="divTest" style="width:100%;overflow-x:hidden;overflow-y:scroll">
 <table width="98%" border="0" cellpadding="2" cellspacing="1"  align="center" id="displayttable" >

 <thead>
    <tr align='center' class="terminal_table_row_bg">   
		<th width="10%" nowrap="nowrap">
			<{$stream_manager.Select|capitalize}>
		</th>     
		<th width="15%" nowrap="nowrap" onclick="sortTable('displayttable', 1)" class="sort_data_table_sequence">
			<{$stream_manager.Zone_Name|capitalize}>↑↓
	  </th>       
	
		<th width="10%" nowrap="nowrap">
			<{$stream_manager.View_Terminal|capitalize}>
			</th>      
    </tr>
    
</thead>
<tbody>
<{if $info|@count neq 0}>   
	<{section name=loop loop=$info}>           		
	<tr align='center' class="terminal_per_row" >   
	             	
		<td nowrap="nowrap">
	
		<{if $is_right == 1 || $admin_id == "administrator"}>
		<input name="id" type="checkbox" id="id" value="<{$info[loop].streamid}>" class="np">
		<{else}>
			<{$smarty.section.loop.index+1+$start}>
		<{/if}>
		</td>

		<td nowrap="nowrap"><{$info[loop].name}></td>  

		
		<td nowrap="nowrap">
			<a  name="link_view" id="link_view" href="zhaoshengdisplayterminal.php?id=<{$info[loop].streamid}>">
				<{$stream_manager.Browse|capitalize}>
			</a>
		</td>
	</tr>
	<{/section}>
<{else}>
<tr align='center' class="tablestyle">
<td colspan="5"><strong><{$Revise.No_data}></strong></td>
</tr>
<{/if}>
</tbody>  
 </table>
</div>
 <script language="javascript">
var   obj   =   document.getElementById( "divTest").offsetHeight; 
 if(obj>=600)
 {
 document.getElementById("divTest").style.height=600+"px"; 

 }
 else
 {
  document.getElementById("divTest").style.height=document.getElementById( "divTest").offsetHeight;
 }
 var objwidth = document.getElementById( "divTest").offsetWidth;
if(objwidth<=1000)
 {
 document.getElementById("divTest").style.width=1000+"px"; 

 }
 else
 {
  document.getElementById("divTest").style.width=document.getElementById( "divTest").offsetWidth;
 }
</script> 
<table width="98%" border="0" cellpadding="2" cellspacing="1"  align="center" id="tabledo">
	<tr class="bgcolors1">

		<td height="28" colspan="5">
			<a title="<{$stream_manager.Select_all_Zone|capitalize}>" href="javascript:selAll(0)"><{$stream_manager.Select_All|capitalize}></a>&nbsp;
			<a title="<{$stream_manager.noSelect_all_Zone|capitalize}>" href="javascript:noSelAll(0)"><{$stream_manager.Cancel|capitalize}></a>&nbsp;
			<a title="<{$stream_manager.Add_selectZone|capitalize}>" href='zhaoshengstreamadd.php' target='main'><{$stream_manager.Add_Zone|capitalize}></a>&nbsp;
			<a title="<{$stream_manager.Modify_selectZone|capitalize}>" href="javascript:modifyStream()"><{$stream_manager.Modify_Zone|capitalize}></a>&nbsp;
			<a title="<{$stream_manager.Delete_selectZone|capitalize}>" href="javascript:delStream()"><{$stream_manager.Delete_Zone|capitalize}></a>
		</td>
	</tr>
	
 </table>
	</td>
  </tr>
  <tr>
    <td><div class="link_style" align="center"><{$pagestr}></div></td>
  </tr>
<!--  搜索表单  -->
<form name='form3' action='' method='get'>
<input type='hidden' name='dopost' value='' />
<table width='98%'  border='0' cellpadding='1' cellspacing='1' class="middle" align="center" style="margin-top:8px">
  <tr>
    <td background='skin/images/wbg.gif' align='center'>
      <table border='0' cellpadding='0' cellspacing='0'>
        <tr>
			<td width='90' align='center'><{$Searchform.Search_conditions}></td>
			<td width='160'>
				<select class="colors" name='searchkey' id="searchkey">
					<option value=''><{$Searchform.Select_type}></option>
					<option value='name'><{$Searchform.Regional_Name}> </option>
				</select>
			</td>
			<td width='70'>
				<{$Searchform.Keyword}>        
			</td>
			<td width='160'>
				<input class="colors" type='text' name='keyvalue' id="keyvalue" value='' />       
			</td>
			
			<td width='110'>
				<select class="colors" name='orderby' id="orderby">
					<option value=''><{$Searchform.Sort}></option>
					<option value='name'><{$Searchform.Stream_name}></option>
				</select>        
			</td>
			
			<td>
				<input name="imageField" type="image" src="<{$stream_manager.search_image}>" width="45" height="20" border="0" class="np" />
			</td>
       </tr>
      </table>
    </td>
  </tr>
</table>
</form>

<script>
	var get_user_right = "<{$is_right}>";
	if(get_user_right == 1)
	{
		//什么也不做
	}
	else
	{
		
		var get_a_objects = document.getElementsByTagName("a");
		for(var i=0; i<get_a_objects.length; i++)
		{
			get_a_objects[i].href = "javascript:void(0);";
			get_a_objects[i].onclick = null;
			get_a_objects[i].style.color="#787878";
		//	get_a_objects[i].disabled = true;
		}
	}
</script>