<form name="modifyform" method="post"  onSubmit="return checkform();" class="terminal_form_to_body">
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0" class="terminal_table_border">	  
	<tr>
	  <td colspan="2" class="bgcolors1">
		<img src="<{$usr_password_modify.password_modify_image}>"/>
	  </td>
	</tr> 
	<tr>
		<td>
			<table width="100%" border="0" align="center" cellpadding="10" cellspacing="0">
				<tr>
					<td width="160" align="right">
						<{$usr_password_modify.Current_password|capitalize}>
					</td>
					
					<td width="340">
						<input name="oldpwd" type="password" class="terminal_input_font" id="oldpwd" maxlength="16"/>
						<span id="oldpwd_s" class="terminal_star">*<{$usr_password_modify.Most_sixteen_characters}></span>
					</td>
				</tr>
				
				<tr>
					<td width="160" align="right">
						<{$usr_password_modify.New_password}>
					</td>
					
					<td width="340">
						<input name="newpwd" type="password" class="terminal_input_font" id="newpwd" maxlength="16"/>
						<span id="newpwd_s" class="terminal_star">*<{$usr_password_modify.Most_sixteen_characters}>)</span>
					</td>
				</tr>
				
				<tr>
					<td width="160" align="right">
						<{$usr_password_modify.Re_enter_password}>
					</td>
					
					<td width="340">
						<input name="confirmpwd" type="password" class="terminal_input_font" id="confirmpwd" maxlength="16"/>
						<span id="confirmpwd_s" class="terminal_star">*<{$usr_password_modify.Most_sixteen_characters}></span>
				  </td>
				</tr>
				 
				<tr>
					<td width="160"></td>
					<td width="340">
						<input type="submit" name="button" id="button" value="<{$usr_password_modify.Confirm}>" onclick="actionforms()" class="terminal_button">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input name="reset" type="reset" id="reset" value="<{$usr_password_modify.Cancel}>" class="terminal_button"/>
					</td>
				</tr>  
			</table>
	  </td>
	 </tr> 
</table>
</form>