<form name="formadd" method="post" action="do.php?act=useradd_msg&count=<{$ctrlterminalcount}>" onSubmit="return checkform();" class="terminal_form_to_body">
	<table name="usertable" id="usertable" width="600" align="center" cellpadding="0" cellspacing="0" class="terminal_table_border">
		<tr>
			<td>
				<table  width="100%" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td>
						<img src="<{$user_add.user_add_image}>"/>
						</td>
					</tr>
				</table>
			</td>
		</tr> 
		
		<tr>
			<td>
				<table  width="100%" align="center" cellpadding="5" cellspacing="0">
				
				<tr>
					<td width="180" align="right" nowrap="nowrap"><{$user_add.User_Name|capitalize}></td>
					
					<td width="420">
					<input title="<{$user_add.User_Nametask|capitalize}>" class="terminal_input_font" name="username" type="text" id="username" value="">
					<span class="terminal_star" id="username_s">*</span>
					</td>
				</tr> 
				<tr>
					<td width="180" align="right" nowrap="nowrap"><{$user_add.Description|capitalize}></td>
					<td width="420">
					<input title="<{$user_add.Descriptiontask|capitalize}>" class="terminal_input_font" type="text" name="info" id="info" value="" maxlength="30"/>
					(<{$user_add.Max_character|capitalize|capitalize}>)	   
					</td>
				</tr>
				
				<tr>
					<td width="180" align="right" nowrap="nowrap"><{$Useradd.User_Group|capitalize}></td>
					<td width="420">
					<select title="<{$user_add.Select_Grouptask|capitalize}>" class="terminal_select_style" name="usergroup" id="usergroup" onchange="is_user_terminal(this);get_group_purview(this.value);" onmouseover="mouse_click_position(event);">
					<option value=""><{$user_add.Select_Group|capitalize}></option>
					<{section name=groupid loop=$group}>
					<option value="<{$group[groupid].id}>"><{$group[groupid].name}>   
					<{/section}> 
					</select>
					
					<span class="terminal_star" id="usergroup_txt">*(<{$user_add.View_group_authority}>)</span>
					<div id="display_purview_div" class="r-displayVolume">
 <iframe style="position:absolute; width:145;height:105px;left:0px; top:0px;filter:alpha(opacity=0);-moz-opacity:0; border:0;z-index:-1"></iframe>
					<div class="display_purview" onmouseover="mounse_over_apper()" onmouseout="mouse_out_disapper()">
					
						<table border='0' cellpadding='5' cellspacing='5' style='background-color:#EEFEEF;'>
							<tr>
								<td>
									<{$user_add.Select_Group}>
								</td>
							</tr>
						</table>
					</div>
					</div>
					</td>
				</tr> 
				
				<tr id="fenkong_id">
					<td width="180" align="right" nowrap="nowrap"><{$user_add.fenkongID|capitalize}></td>
					<td >
					<input  name="ctrlterminalcount" type="checkbox" id="ctrlterminalcount" value="1"/>
					
					<script language="javascript">
					 var getctrlterminalcount = <{$ctrlterminalcount}>;
					 var k=0;
					 for(var i =0 ; i<=getctrlterminalcount; i++)
					 {
						 <{section name=wind loop=$ctrlwind}>
							if(i==<{$ctrlwind[wind].ctrlwind}>&&i!=0)
								k++;
						 <{/section}> 
					 }
					 if(k==getctrlterminalcount)
					 {
						 document.getElementById('ctrlterminalcount').disabled = true;
					 }
					</script>
					<{$user_add.cumperID|capitalize}>
					<input  name="fenkongIDtask" type="checkbox" id="fenkongIDtask" value="1"/>
					<script language="javascript">
					 var ctrlterminalcounts = <{$ctrlterminalcount}>;
					 k=0;
					 for(i =0;i<=ctrlterminalcounts;i++)
					 {
					 	 <{section name=uwind loop=$subwind}>
							if(i==<{$subwind[uwind].subwind}>&&i!=0)
								k++;
						 <{/section}> 
					 }
					 if(k==ctrlterminalcounts)
					 {
						 document.getElementById('fenkongIDtask').disabled = true;
					 }
					</script>
					
					<{$user_add.jiankongID|capitalize}>
					<input  name="jiankongID" type="checkbox" id="jiankongID" value="1"/>
					
					<script language="javascript">
					 var ctrlterminalcount3 = <{$ctrlterminalcount}>;
					  k=0;
					 for(i =0 ; i<=ctrlterminalcount3; i++)
					 {
					 	 <{section name=cwind loop=$camerawind}>
							if(i==<{$camerawind[cwind].camerawind}>&&i!=0)
								k++;
						 <{/section}> 
					 }
					 if(k==ctrlterminalcount3)
					 {
						 document.getElementById('jiankongID').disabled = true;
					 }
					</script>
						
					</td>
				
				</tr>       
					
				
				<tr>
					<td width="180" align="right" nowrap="nowrap"><{$user_add.Password|capitalize}></td>
					
					<td width="420">
					<input title="<{$user_add.Passwordtask|capitalize}>" name="newpwd" type="password" class="terminal_input_font" id="newpwd" maxlength="16"/>
					<span id="newpwd_s" class="terminal_star">*(<{$user_add.Max_characters|capitalize}>)</span>
					</td>
				</tr>
				
				<tr>
					<td width="180" align="right" nowrap="nowrap"><{$user_add.Confirm_Passwor|capitalize}></td>
					<td width="420">
					<input title="<{$user_add.Passwordtask|capitalize}>" name="confirmpwd" type="password" class="terminal_input_font" id="confirmpwd" maxlength="16" />
					<span id="confirmpwd_s" class="terminal_star">*(<{$user_add.Max_characters|capitalize}>)</span>
					</td>
				</tr>
				<!--
				<tr>
					<td width="180" align="right" nowrap="nowrap"><{$user_add.mac1|capitalize}></td>
					
					<td width="420">
					<input  name="mac1" type="text" class="terminal_input_font" id="mac1"/>
					
					</td>
				</tr>	
				<tr>
					<td width="180" align="right" nowrap="nowrap"><{$user_add.mac2|capitalize}></td>
					
					<td width="420">
					<input  name="mac2" type="text" class="terminal_input_font" id="mac2"/>
					
					</td>
				</tr>	
				<tr>
					<td width="180" align="right" nowrap="nowrap"><{$user_add.mac3|capitalize}></td>
					
					<td width="420">
					<input  name="mac3" type="text" class="terminal_input_font" id="mac3"/>
					
					</td>
				</tr>
				-->
				<tr>
					<td width="180" align="right" valign="top" nowrap="nowrap"><{$user_add.Terminal_selection}></td>
					
					<td width="420" align="left" valign="top">
					<div id="treeofbox" name="treeofbox" style="width:80%;height:200px;background-color:#f5f5f5;border :1px solid Silver;overflow-y:auto; text-align:left;"></div>
					</td>
				</tr>
				<input type="hidden" id="terminal_id" name="terminal_id" value="" />
				<input type="hidden" id="analysis_tree_group_string" name="analysis_tree_group_string" value=""/>
				<script>
					tree2=new dhtmlXTreeObject("treeofbox","100%","100%",0);
					tree2.setSkin('dhx_skyblue');
					tree2.setImagePath("smarty/templates/BellManager/codebase/csh_bluebooks/");
					tree2.enableCheckBoxes(1);
					tree2.enableThreeStateCheckboxes(true);	
					tree2.loadXMLString("<{$terminal_array_id}>");
				</script>
				<tr>
					<td width="180"></td>
					<td width="420">
						<input title="<{$user_add.Sumbittask|capitalize}>" type="submit" name="button" id="button" value="<{$user_add.Sumbit}>" class="terminal_button">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input title="<{$user_add.Canceltask|capitalize}>" name="reset" type="reset" id="reset" value="<{$user_add.Cancel}>" class="terminal_button"/>
					</td>
				</tr>      
			</table>
		</td>
	</tr>
</table>
</form>
<script language="javascript">
var registerflag="<{$registerflag}>";
if(registerflag==1||registerflag==2)
{
	
}
else
{
	document.getElementById("fenkong_id").style.display="none";	

}
</script>