<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$usr_password_modify.user_password_Modify|capitalize}></title>

<link href="skin/css/main_page_style.css" rel="stylesheet" type="text/css" />
<script src="skin/js/frame/actiondo.js"></script>
<!--修改脚本-->
<script type="text/javascript" defer="true">

function isNull( str )
{
	if ( str == "" || str==null) 
	return true;
	var regu = "^[ ]+$";
	var re = new RegExp(regu);
	return re.test(str);
}

function isNumberOrLetter( s )
{ 
    var regu = "^[0-9a-zA-Z]+$"; 
    var re = new RegExp(regu); 
    if (re.test(s)) 
    { 
        return true; 
    }
    else
    { 
        return false; 
    } 
} 

function trim(str)
{   
    return str.replace(/(^\s*)|(\s*$)/ig, "");   
}

function checkform()
{
	//验证旧密码
	var getfuzhamima=<{$FUZA_PASS}>;

	if(getfuzhamima==0)
	{
				var pwdRegex = new RegExp('(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[^a-zA-Z0-9]).{8,30}');	
			if (!pwdRegex.test(document.modifyform.oldpwd.value)) {
			
					document.getElementById('oldpwd_s').innerHTML="<font color='#ff0000'><{$user_modify.password_noerror|capitalize}></font>";
					document.modifyform.oldpwd.focus();
					return false;
			}
			document.getElementById('oldpwd_s').innerHTML="<font class='terminal_star'></font>";

			if (!pwdRegex.test(document.modifyform.newpwd.value)) {
				
				document.getElementById('newpwd_s').innerHTML="<font color='#ff0000'><{$user_modify.password_noerror|capitalize}></font>";

				document.modifyform.newpwd.focus();
				return false;
			}
			document.getElementById('newpwd_s').innerHTML="<font class='terminal_star'></font>";

			if (!pwdRegex.test(document.modifyform.confirmpwd.value)) {
				
				document.getElementById('confirmpwd_s').innerHTML="<font color='#ff0000'><{$user_modify.password_noerror|capitalize}></font>";

				document.modifyform.confirmpwd.focus();
				return false;
			}
			document.getElementById('confirmpwd_s').innerHTML="<font class='terminal_star'></font>";
	
	}
	return false;
}

function actionforms()
{
	var oldpwds=document.getElementById('oldpwd').value;
	var getfuzhamima=<{$FUZA_PASS}>;

	if(getfuzhamima!=0)
	{
			var pwdRegex = new RegExp('(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[^a-zA-Z0-9]).{8,30}');
			if (!pwdRegex.test(oldpwds)) {
				document.getElementById('oldpwd_s').innerHTML="<font color='#ff0000'>空密码</font>";
				document.modifyform.oldpwd.focus();
				return false;
			}

			document.getElementById('oldpwd_s').innerHTML="<font class='terminal_star'></font>";

			if (!pwdRegex.test(document.modifyform.newpwd.value)) {
				
				document.getElementById('newpwd_s').innerHTML="<font color='#ff0000'>空密码</font>";
				document.modifyform.newpwd.focus();
				return false;
			}
			document.getElementById('newpwd_s').innerHTML="<font class='terminal_star'></font>";

			if (!pwdRegex.test(document.modifyform.confirmpwd.value)) {	
				document.getElementById('confirmpwd_s').innerHTML="<font color='#ff0000'>空密码</font>";
				document.modifyform.confirmpwd.focus();
				return false;
			}
  }
	document.getElementById('confirmpwd_s').innerHTML="<font class='terminal_star'></font>";
	var oldpwd=document.getElementById('oldpwd').value;
	
	var newpwd=document.getElementById('newpwd').value;
	var username="<{$username}>";

	var getaction = "usernames="+username+"&oldpwds="+oldpwd+"&newpwds="+newpwd+"";

	var getaction2 = "do.php?act=userpasswordmodify_msg&info="+str_encode(getaction)+"";

	document.modifyform.action = getaction2;
 	document.modifyform.submit();
}


</script>
</head>

<body>
<{include file="UserManager/userpasswordmodify_form.html"}>
<{include file="language/`$language`_foot.php"}> 
</body>
</html>
