<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>mediaoffolder</title>
<style>
body
{
  scrollbar-base-color:#C0D586;
  scrollbar-arrow-color:#FFFFFF;
  scrollbar-shadow-color:DEEFC6;
}
</style>

</head>

  <frameset rows="50%,50%" name="btFrame" frameborder="yes" border="1" framespacing="1">
    <frame src="getnowlog.php" name="mediafolder" frameborder="no" scrolling="auto"  marginwidth="0" id="mediafolder">
    <frame src="tasklogmanager.php" name="mediafile" id="mediafile" scrolling="auto">
</frameset>

<noframes>
	<body>NOT Support FrameSet</body>
</noframes>
</html>