

<script language="javascript">
function convert(value, dataType) 
	{
		switch(dataType) 
		{
			case "int":
				return parseInt(value);
				break
			case "float":
				return parseFloat(value);
				break
			case "date":
				return Date.parse(value);
				break
			default:
				return value.toString();
		}
	}
	//sortȽַ
	function compareCols(col, dataType) 
	{
		return function compareTrs(tr1, tr2) 
		{
			value1 = convert(tr1.cells[col].innerHTML, dataType);

			value2 = convert(tr2.cells[col].innerHTML, dataType);
			
			if (value1 < value2) 
			{
				return -1;
			} 
			else if (value1 > value2) 
			{
				return 1;
			} 
			else 
			{
				return 0;
			}
		};
	}
	//Ա
	


	function sortTable(tableId, col, dataType) 
	{
		var table = document.getElementById(tableId);

		var tbody = table.tBodies[0];
		
		var tr = tbody.rows; 
		
		var trValue = new Array();
		
		for (var i=0; i<tr.length; i++ ) 
		{
			trValue[i] = tr[i];  //иеϢ洢½
		}
		
		if (tbody.sortCol == col &&(dataType=='1')) 
		{
			
			trValue.reverse(); //ѾˣֱӶ䷴
		} 
		else 
		{
			
			trValue.sort(compareCols(col, dataType));  //
		}

		var fragment = document.createDocumentFragment();  //½һƬΣڱĽ

		for (var i=0; i<trValue.length; i++ ) 
		{
			fragment.appendChild(trValue[i]);
		}
		tbody.appendChild(fragment); //Ľ滻֮ǰֵ

		tbody.sortCol = col;
	}

function selAll(aid)
{
	if(aid==0)
	{
		document.form2.id.checked=true;
	}
	for(i=0;i<document.form2.id.length;i++)
	{
		if(!document.form2.id[i].checked)
		{
			document.form2.id[i].checked=true;
		}
	}
}

function noSelAll(aid)
{
	document.form2.id.checked=false;
	
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
			document.form2.id[i].checked=false;
		}
	}
}

function getCheckboxItem()
{
	var allSel="";
	
	if(document.form2.id.checked)
	{
		allSel=document.form2.id.value;
		
		if(allSel==undefined)
		{
			allSel="";
		}
	}
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
			if(allSel=="")
				allSel=document.form2.id[i].value;
			else
				allSel=allSel+","+document.form2.id[i].value;
		}
	}
	return allSel;
}

function setofflinetask(flag)
{
	var getid=getCheckboxItem();
	if(getid==null||getid=="")
	{
		alert("<{$task_manager.select_broadcast_task|capitalize}>");
		
		return void(0);	
	}
	else
	{
		location="do.php?act=set_offline_tasks&getid="+getid+"&flag="+flag+"";
	}	
}

function selAll2(aid)
{
	if(aid==0)
	{
		document.form.id.checked=true;
	}
	for(i=0;i<document.form.id.length;i++)
	{
		if(!document.form.id[i].checked)
		{
			document.form.id[i].checked=true;
		}
	}
}

function noSelAll2(aid)
{
	document.form.id.checked=false;
	for(i=0;i<document.form.id.length;i++)
	{
		if(document.form.id[i].checked)
		{
			document.form.id[i].checked=false;
		}
	}
}

function getCheckboxItem2()
{
	var allSel="";

	if(document.form.id.checked)
	{
		allSel=document.form.id.value;
		if(allSel==undefined)
		{
			allSel="";
		}
	}
	for(i=0;i<document.form.id.length;i++)
	{
		if(document.form.id[i].checked)
		{
			if(allSel=="")
				allSel=document.form.id[i].value;
			else
				allSel=allSel+","+document.form.id[i].value;
		}
	}
	return allSel;
}

function setofflinetask2(flag)
{
	var getid=getCheckboxItem2();
	if(getid==null||getid=="")
	{
		alert("<{$task_manager.select_broadcast_task|capitalize}>");
		return void(0);	
	}
	else
	{
		if(flag==1||flag==2)
		{
			location="do.php?act=do_offline_task&getid="+getid+"&flag="+flag+"";
			djdd(); 
		}
		else if(flag==4||flag==5)
		{
			if(window.confirm('<{$task_manager.confirm_deleting|capitalize}>'))
			{
				location="do.php?act=set_offline_tasks&getid="+getid+"&flag="+flag+"";
				djdd();
			}
		}
		else if(flag==18)
		{
			if(window.confirm('<{$task_manager.confirm_clear|capitalize}>'))
			{
				location="do.php?act=set_offline_tasks&getid="+getid+"&flag="+flag+"";
				djdd();
			}
		}
		else
		{
		  location="do.php?act=set_offline_tasks&getid="+getid+"&flag="+flag+"";
		   djdd(); 
		}
	}	
}

function getdayofweek(str)
{
   var dayofweek="";
   var count=0;
   for(i=0;i<str.length;i++)
   {
        if(str.charAt(i)=="1")
        {
			count++;
            switch(i)
            {
                case 0:
				dayofweek+="<{$Filetaskmanager.Sunday}>";
                
                break;
                case 1:
				dayofweek+="<{$Filetaskmanager.Monday}>";
                
                break;
                case 2:
				dayofweek+="<{$Filetaskmanager.Tuesday}>";
                
                break;
                case 3:
				dayofweek+="<{$Filetaskmanager.Wednesday}>";
                
                break;
                case 4:
				dayofweek+="<{$Filetaskmanager.Thursday}>";
                
                break;
                case 5:
				dayofweek+="<{$Filetaskmanager.Friday}>";
                
                break;
                case 6:
                dayofweek+="<{$Filetaskmanager.Saturday}>";
                break;  
            }
        }
   }
   if(count==7)
   {
   		return "<{$task_manager.every_day|capitalize}>";
   }
   return dayofweek;
}
</script>



<form name="form" id="form" class="terminal_form_to_body" style="width:99%">
  <tbody>
<div id="divTest2" style="width:102%;overflow-x:scroll;overflow-y:scroll">
<table width="100%" border="0" cellpadding="1" cellspacing="1"  align="left" id= "tasklist2" style="font-size:12px">
	<thead> 
    <tr align='center' class="terminal_table_row_bg">
	
		<th width="3%" nowrap>
			<{$task_manager.Select|capitalize}>
		</th>          	
		<th width="5%" nowrap onclick="sortTable('tasklist2', 1,'1')" class="sort_data_table_sequence">
			<{$task_manager.Task_name|capitalize}>
		</th> 
		<th width="5%" nowrap onclick="sortTable('tasklist2', 3,'1')" class="sort_data_table_sequence">
			<{$task_manager.The_category|capitalize}>
		</th>  
		<th width="5%" nowrap onclick="sortTable('tasklist2', 2,'1')" class="sort_data_table_sequence">
			<{$task_manager.Play_Cycle|capitalize}>
		</th>  
		   
		<th width="5%" nowrap onclick="sortTable('tasklist2', 3,'1')" class="sort_data_table_sequence">
			<{$task_manager.Start_Date|capitalize}>
		</th>   

		<th width="5%" nowrap onclick="sortTable('tasklist2', 4,'1')" class="sort_data_table_sequence">
			<{$task_manager.End_Date|capitalize}>
		</th>  
		
		<th width="5%" nowrap onclick="sortTable('tasklist2', 5,'1')" class="sort_data_table_sequence">
			<{$task_manager.Run_Time|capitalize}>
		</th>	
		          	    
		<th width="5%" nowrap onclick="sortTable('tasklist2', 6,'1')" class="sort_data_table_sequence"><{$task_manager.Duration|capitalize}>↑↓</th>
		
		<th width="5%" nowrap onclick="sortTable('tasklist2', 7,'1')" class="sort_data_table_sequence">
			<{$task_manager.Status|capitalize}>
		</th>
		<th width="5%" nowrap onclick="sortTable('tasklist2', 8,'1')" class="sort_data_table_sequence">
			<{$task_manager.offlinestate|capitalize}>
		</th>
		<th width="5%" nowrap><{$task_manager.Terminal_Attribute|capitalize}></th> 
    </tr>  
  </thead>

	<{if $info2|@count neq 0}> 
	<{section name=loop loop=$info2}>            
	<tr align="center">
		<td nowrap="nowrap">
			<{if $user_rights == 1 || $admin_id == "administrator"}>
				<input name="id" type="checkbox" id="id" value="<{$info2[loop].taskid}>">
			<{else}>
				<{$smarty.section.loop.index+1+$start}>
			<{/if}>
		</td>		
		<td nowrap="nowrap">
			<label title="<{$info2[loop].taskname}>"><{$info2[loop].taskname|truncate:30:".."}></label>
		</td> 
		<td nowrap="nowrap">
				<{if $info2[loop].tasktype == 1}>
				 
					<{$task_manager.oneache|capitalize}>(<{$info2[loop].info}>)
			
				<{elseif  $info2[loop].tasktype == 2|| $info2[loop].tasktype == 7}>		   	
			
					<{$task_manager.twofile|capitalize}>
			
				<{/if}>
		</td> 
		<td nowrap="nowrap">
			<{if $info2[loop].tasktype eq 7}>
				<span style="color:#FF0000" id="emergency_mark" name="emergency_mark"><{$task_manager.Emergency_Broadcast}></span>
				
			<{elseif $info2[loop].tasktype eq 2||$info2[loop].tasktype eq 1}>
			
				<{if $info2[loop].exemodel eq "0000000"}>
				
					<{$task_manager.Manual|capitalize}>
				
				<{elseif $info2[loop].exemodel neq "0000000"}>
				
					<script language="javascript">document.write(getdayofweek("<{$info2[loop].exemodel}>"))</script> 
				
				<{/if}>
			<{/if}>
		</td>
		    
		<td nowrap="nowrap"><{$info2[loop].startdate}> </td>              	
		<td nowrap="nowrap"><{$info2[loop].enddate}> </td> 
		
		<td nowrap="nowrap"><{$info2[loop].playtime}> </td>   
		
		<td nowrap="nowrap">
		
		
				<script language="javascript">
				var gethour;
				var getmin;
				var getsen;
				var gettime=<{$info2[loop].timelength}>;
				var gettimetype=<{$info2[loop].timelengthtype}>;
				if(gettimetype==1)
				{
					gethour=parseInt(gettime/3600);
					getmin=parseInt((gettime-gethour*3600)/60);
					getsen=gettime-gethour*3600-getmin*60;
					if(gethour>0)
						document.write(gethour,'<{$Filetaskmanager.hour}>');
					if(getmin>0)
						document.write(getmin,'<{$Filetaskmanager.min}>');
					if(getsen>0)
						document.write(getsen,'<{$Filetaskmanager.sec}>');
				}
			else
				document.write(gettime,'<{$Filetaskmanager.Times}>');
				</script>
		

		</td>
		
		<td nowrap="nowrap">
			<{if $info2[loop].state == 0 and $info2[loop].projectstate == 0}>	
			 <span style="color:#ff0000;">
				<{$Filetaskmanager.Enable}>●</span>
			<{elseif $info2[loop].state == 0 and $info2[loop].projectstate == 1}>	
				<{$Filetaskmanager.Disable}>
			<{elseif $info2[loop].state == 3}>  
			<span style="color:#0f6b24;">      
				<{$Filetaskmanager.Execution}>  </span> 
			<{elseif $info2[loop].state == 2}> 
				<span style="color:#0f6b24;">    
				<{$Filetaskmanager.Pause}>  </span> 
			<{elseif $info2[loop].state == 1}>
				<span style="color:#0f6b24;"> 
				<{$Filetaskmanager.Execution}>  </span>
			<{elseif $info2[loop].state == 5}>
			<span style="color:#0f6b24;"> 
				<{$Filetaskmanager.Execution}> </span>
			<{/if}> 
		
		</td>
		
			<td nowrap="nowrap">
			<{if $info2[loop].offlinestate == 0}>	
				<{$Filetaskmanager.no_offline}>
			<{elseif $info2[loop].offlinestate == 1}>	
				<{$Filetaskmanager.free_offline}>
			<{elseif $info2[loop].offlinestate == 2}>      
				<{$Filetaskmanager.now_offline}> 
			<{elseif $info2[loop].offlinestate == 3}> 
				<{$Filetaskmanager.finlish_offline}> 
			<{elseif $info2[loop].offlinestate == 4}>
				<{$Filetaskmanager.free_delete}> 
			<{elseif $info2[loop].offlinestate == 5}>
				<{$Filetaskmanager.now_delete}> 
			<{elseif $info2[loop].offlinestate == 6}>
			<{$Filetaskmanager.doing_ofline}> 
				<{elseif $info2[loop].offlinestate == 7}>
			<{$Filetaskmanager.doing_ofline2}> 
				<{elseif $info2[loop].offlinestate == 8}>
			<{$Filetaskmanager.delfinlish}> 
				<{elseif $info2[loop].offlinestate == 9}>
			<{$Filetaskmanager.pre_free_offline}> 
			<{elseif $info2[loop].offlinestate == 10}>
			<{$Filetaskmanager.pre_doing_offline}> 
				<{elseif $info2[loop].offlinestate == 11}>
			<{$Filetaskmanager.offline_stop}> 
			<{elseif $info2[loop].offlinestate == 12}>
			<{$Filetaskmanager.offline_stoped}>
			<{else}> 
			<{$Filetaskmanager.no_offline}>
			<{/if}> 
		</td>
		
		<td nowrap="nowrap">
			<a  name="link_view" id="link_view" href="displayterminal.php?flag=<{$getflag}>&term_id=<{$info2[loop].taskid}>">
				<{$task_manager.Terminal|capitalize}>
			</a>

			<a  name="link_look" id="link_look" href="displaymedia.php?flag=<{$getflag}>&id=<{$info2[loop].taskid}>">
				<{$task_manager.Media|capitalize}>
			</a> 
		</td>
	</tr>
<{/section}>
<{else}>
<{/if}>

</table>
</div>
</tbody>

<table width="100%" border="0" cellpadding="1" cellspacing="1" align="left" style="font-size:12px">
<tr>
<td>
<a  href="javascript:selAll2(0)" >
	<{$Filetaskmanager.Select_All|capitalize}>
</a>&nbsp;
<a  href="javascript:noSelAll2(0)" >
	<{$Filetaskmanager.Cancel|capitalize}>
</a>&nbsp;

	<{if $getflag == 1}>
	<a href="javascript:setofflinetask2(1)" > 
	<{$Filetaskmanager.free_offline|capitalize}>
</a>&nbsp;

<a href="javascript:setofflinetask2(2)"> 
	<{$Filetaskmanager.now_offline|capitalize}>
</a>&nbsp;		 	
	<{elseif  $getflag ==2}>		   	
	<a href="javascript:setofflinetask2(14)"> 
	<{$Filetaskmanager.free_offline|capitalize}>
</a>&nbsp;

<a href="javascript:setofflinetask2(15)" > 
	<{$Filetaskmanager.now_offline|capitalize}>
</a>&nbsp;
	<a href="javascript:setofflinetask2(4)" > 
	<{$Filetaskmanager.free_delete|capitalize}>
</a>&nbsp;
<a href="javascript:setofflinetask2(5)" > 
	<{$Filetaskmanager.now_delete|capitalize}>
</a>&nbsp;

<a href="javascript:setofflinetask2(11)"> 
	<{$Filetaskmanager.offline_stop|capitalize}>
</a>&nbsp;

<a href="javascript:setofflinetask2(16)"> 
	<{$Filetaskmanager.offline_play|capitalize}>
</a>&nbsp;

<a href="javascript:setofflinetask2(17)" > 
	<{$Filetaskmanager.offlineplay_stop|capitalize}>
</a>&nbsp;

<a href="javascript:setofflinetask2(18)"> 
	<{$Filetaskmanager.delofflinemusic|capitalize}>
</a>&nbsp;			
	<{/if}>



</td>
</tr>
</table>
</form>
<{if $user_rights ==1}>

<!--什么也不做-->
<{else}>
<script>

	var input_objs = document.getElementsByTagName("a");
	for(var i=0; i< input_objs.length; i++)
	{
		input_objs[i].href = "javascript:void(0)";
		input_objs[i].onclick = null;
		input_objs[i].style.color="#787878";
	}
	
</script>

<{/if}>
<script language="javascript">

var obj2 = document.getElementById( "divTest2").offsetHeight; 
 if(obj2>=550)
 {
   document.getElementById("divTest2").style.height=550+"px"; 
 }
 else
 {
   document.getElementById("divTest2").style.height=document.getElementById( "divTest2").offsetHeight;
 }

</script>