<html>
<head>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<title>SetTaskMapping</title>
<!--导入树-->
<link href="smarty/templates/BellManager/codebase/dhtmlxtree.css" rel="stylesheet" type="text/css">
<script  src="smarty/templates/BellManager/codebase/dhtmlxtree.js"></script>
<script  src="smarty/templates/BellManager/codebase/dhtmlxcommon.js"></script>



<link href="skin/css/main_page_style.css" rel="stylesheet" type="text/css">

<style type="text/css">
	.input_title
	{
		font-size:12px;
		font-family:Georgia, "Times New Roman", Times, serif, "宋体";
	}
</style>

<script language="javascript">
function isNumber( s )
{
    var regu = "^[0-9]+$";
    var re = new RegExp(regu);
    if (s.search(re) != -1) 
    {
        return true;
    }
    else 
    {
        return false;
    }
}
function trim(str)
{   
    return str.replace(/(^\s*)|(\s*$)/ig, "");   
}
function isChinaOrNumbOrLett( s )
{
	var regu = "^[0-9a-zA-Z\u4e00-\u9fa5]+$"; 

	var re = new RegExp(regu); 
	if (re.test(s)) 
	{ 
		return true; 
	}
	else
	{
		return false; 
	} 
} 

function isNull( str )
{ 
 if ( str == "" )

 return true; 

 var regu = "^[ ]+$"; 

 var re = new RegExp(regu); 

 return re.test(str); 
} 
function checkform()
{	

var getvalue= document.getElementById("map_name").value;
	
	if(isNull(trim(getvalue)))
	{
	document.getElementById("map_name_msg").innerHTML="<font class='terminal_star'><{$set_remote_map.enter_mapping_name|capitalize}></font>";
	
		document.getElementById("map_name").focus();
	
		return false;
	}
	else
	{
		if(!isChinaOrNumbOrLett(trim(getvalue)))
		{
			document.getElementById("map_name_msg").innerHTML="<font class='terminal_star'><{$set_remote_map.letter_number_Chinese|capitalize}></font>";
			document.getElementById("map_name").focus();
	
			return false;
		}
	}
	document.getElementById("map_name_msg").innerHTML="";
	//验证终端

	var getterminalid = trim(sel_item_seq.toString());
		var tempstore = new Array();
		var count = 0;
		var gettargetvalue3 ;
		var i;
	
	var gettargetvalue = getterminalid.split("@@");

	if(gettargetvalue.length>2)
	{
		alert('<{$set_remote_map.select_one|capitalize}>');
		return false;
	}
	else if(gettargetvalue.length==2)
	{
		var gettargetvalue2 = getterminalid.split(",");	
	
		if(gettargetvalue2.length>1)
		{
			alert('<{$set_remote_map.select_one|capitalize}>');
			return false;
		
		}
		
		 gettargetvalue3 = getterminalid.split("@@");
		for( i=0; i<gettargetvalue3.length; i++)
		{
			if(isNumber(gettargetvalue3[i]))
			{
				tempstore[count] = gettargetvalue3[i];
	
				count++;
			
			}
			continue;
		}
	}
	else if(gettargetvalue.length==1)
	{
		 gettargetvalue3 = getterminalid.split(",");
		for( i=0; i<gettargetvalue3.length; i++)
		{
			if(isNumber(gettargetvalue3[i]))
			{
				tempstore[count] = gettargetvalue3[i];
	
				count++;
			
			}
			continue;
		}
	
	}
	

	document.getElementById('task_map_id').value = trim(tempstore.toString());

	if(isNull(document.getElementById('task_map_id').value))
	{
		alert("<{$set_remote_map.select_music|capitalize}>");
		return false;
	}
}

function getoneinput(obj)
{
 	
		if(document.getElementById('map_name').value=="<{$set_remote_map.Please_Input|capitalize}>")
		{
			document.getElementById('map_name').value="";
		}


}

</script>
</head>
<body onLoad="get_load_remote_task_id()">

<form name="setkeyform" action="do.php?act=keyset_task_mapping_msg" method="post" onSubmit="return checkform();" class="terminal_form_to_body">
<table width="600px" align="center" border="0" cellpadding="0" cellspacing="0"  class="terminal_table_border">
	<tr height="50">
		<td align="center" border="0" cellpadding="0" cellspacing="0">
			<table>
				<tr>
					<td>
						<img src="<{$set_remote_map.addlookplay}>"/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td>
			<table align="center" border="0" cellpadding="5" cellspacing="0">
			<tr>
				<td width="180" align="right" class="input_title"><{$set_remote_map.Key_name|capitalize}></td>
					<td width="420">
					<input title="<{$set_remote_map.setkey_name|capitalize}>" type="text" maxlength="8" id="map_name" name="map_name" onMouseDown="getoneinput(this)" value="<{$set_remote_map.Please_Input|capitalize}>" class="terminal_input_font"/>	
						<span id="map_name_msg" class="terminal_star">*</span> 
						
				  </td>
			</tr>
				<tr>
					<td width="180" align="right" class="input_title"><{$set_remote_map.Map_Key|capitalize}></td>
					<td width="420">
						<select title="<{$set_remote_map.setMap_Key|capitalize}>" id="keyvalue" name="keyvalue" class="terminal_select_style" onChange="get_change_remote_id(this)">
							<script>
								var sel_obj = document.getElementById('keyvalue');
								sel_obj.style.width = "60px";
								for(var i=1; i<=16; i++)
								{
									if(i == 1)
									{
										document.write("<option value="+i+" selected>"+i+"</option>");
									}
									else
									{
										document.write("<option value="+i+">"+i+"</option>");
									}
								}
							</script>
						</select>
				  </td>
				</tr>
				<tr>
					<td width="180" align="right" valign="top" class="input_title"><{$set_remote_map.Map_Task|capitalize}></td>
					<td width="420">
					<input title="<{$set_remote_map.Map_Taskache|capitalize}>" type="hidden"  id="task_map_id" name="task_map_id" value=""/>
					<script language="javascript" src="skin/js/frame/select_item_sequence.js"></script>
					<div id="treeofbox2" name="treeofbox2" style="width:80%; height:200px;background-color:#f5f5f5;border :1px solid Silver;"/> 
						<script language="javascript">
							var treedata = "<{$tree_info}>";
							
							tree2 = new dhtmlXTreeObject("treeofbox2","100%","100%",0);
							
							tree2.setSkin('dhx_skyblue');
							
							tree2.setImagePath("smarty/templates/BellManager/codebase/csh_bluebooks/");
							
							tree2.enableCheckBoxes(1);
							tree2.setOnCheckHandler(get_select_item_check);
							tree2.enableThreeStateCheckboxes(true);
							
							tree2.loadXMLString(treedata);
							
							get_all_item_id = tree2.getAllChildless();
					
							get_all_item_id = get_all_item_id.split(",");
							for(var x=0; x<get_all_item_id.length; x++)
							{
								get_all_item_txt.push(tree2.getItemText(get_all_item_id[x]));
							}
						</script>
				  </td>
				</tr>
			
				<tr>
					<td width="180">					</td>
					<td width="420">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="submit" name="submit" value="<{$set_remote_map.Sumbit|capitalize}>" class="terminal_button"/>
						
						
				  </td>
				</tr>
		  </table>
		</td>
	</tr>
</table>
</form>
<{include file="language/`$language`_foot.php"}>
</body>
<script language="javascript">

var xmlhttp=null; 

function createXMLHttpRequest()
{ 
	if(window.ActiveXObject)
	{ 
		xmlhttp = new ActiveXObject("microsoft.XMLHTTP"); 
	} 
	else if(window.XMLHttpRequest)
	{ 
		xmlhttp = new XMLHttpRequest(); 
	}
	else
	{
		alert("NOT Support AJAX");
	}
} 
function get_remote_task_id(url)
{
   createXMLHttpRequest();

   xmlhttp.open( "get",url, true );

   xmlhttp.onreadystatechange = function()
   {
      if( xmlhttp.readyState == 4 )
      {
         if( xmlhttp.status == 200 )
         {
           var remote_task_id = xmlhttp.responseText;
		   
		  // alert(remote_task_id);
		   
		   refresh_tree_options(remote_task_id);
         }
      }
   }
	xmlhttp.setRequestHeader( "If-Modified-Since", "0");

	xmlhttp.send(null);
}

function get_load_remote_task_id()
{
	var str_url = "";
	
	var get_key_id = document.getElementById('keyvalue').value;
	
	str_url = "get_remote_key_id.php?key_id="+get_key_id+"";
	
	get_remote_task_id(str_url);
}

function get_change_remote_id(obj)
{
	var str_url = "";
	
	var get_key_id = obj.value;
	
	str_url = "get_remote_key_id.php?key_id="+get_key_id+"";
	
	get_remote_task_id(str_url);
}

function refresh_tree_options(task_id)
{
	var get_key_strid = tree2.getAllChecked();
	
	var get_key_array = get_key_strid.split(",");
	
	var get_key_id = "";
	
	for(var i=0; i<get_key_array.length; i++)
	{
		if(isNumber(get_key_array[i]))
		{
			get_key_id = get_key_array[i];
			
			break;
		}
	}
	
	if(get_key_id == "")
	{
		//什么也不做
	}
	else
	{
		tree2.setCheck(get_key_id,false);
	}

	tree2.setCheck(task_id,true);
}
</script>
</html>