<form name="form2" class="terminal_form_to_body">
	<table width="98%" border="0" cellpadding="2" cellspacing="1"  align="center">
    <tr align='center' class="terminal_table_row_bg" height="22px" >   
    	<td width="10%" nowrap="nowrap"><{$remote_task.Selection|capitalize}></td>                 	
		<td width="25%" nowrap="nowrap"><{$remote_task.camername|capitalize}></td>   
		<td width="20%" nowrap="nowrap"><{$remote_task.camerip|capitalize}></td> 
		<td width="25%" nowrap="nowrap"><{$remote_task.camer_terminal|capitalize}></td>   
    </tr> 
	<tr></tr>
	<{if $info|@count neq 0}>        
    <{section name=loop loop=$info}>      
     <tr align='center' >      	
      	 <td>
		 <{if $is_right == 1 || $admin_id == "administrator"}>
		 <input name="id" type="checkbox" id="id" value="<{$info[loop].id}>">
		 <{else}>
		 	<{$smarty.section.loop.index+1+$start}>
		 <{/if}>
		 </td>
	
		 <td><{$info[loop].camername|truncate:28:"..."}></td>		 
		 <td><{$info[loop].camerip}></td>
		 <td>	

		<a  name="link_view" id="link_view" href="displaycamerterminal.php?id=<{$info[loop].id}>">
			<{$remote_task.camer_terminal|capitalize}>
		</a>
</td>	
      </tr>         
    <{/section}>
	<{else}>
	<tr>
	<td colspan="4" style="text-align:center"><strong><{$remote_task.No_record|capitalize}></strong></td>
	</tr>
	<{/if}>
    <tr style="background-color: #FFFFFF;">
		<td height="28" colspan="4">		
<table cellpadding="0" cellspacing="0">
<tr >
<td>
<script src="smarty/templates/UserAccessControl/CheckUserRights.js" type="text/javascript" language="javascript"></script>
	<table width="100%" border="0" >
		<tr>
			<td width="20%"  align="left" nowrap="nowrap">
				<a title="<{$remote_task.Select_Allmapping|capitalize}>" href="javascript:selAll(0)" class="coolbg"><{$remote_task.Select_All|capitalize}></a>&nbsp;
				<a title="<{$remote_task.noSelect_Allmapping|capitalize}>" href="javascript:noSelAll(0)" class="coolbg"><{$remote_task.Cancel|capitalize}></a>&nbsp;
				<a title="<{$remote_task.Set_camer|capitalize}>" href="javascript:set_taskmapping()" class="coolbg"><{$remote_task.Set_camer|capitalize}></a>&nbsp;
				<a title="<{$remote_task.modify_camer|capitalize}>" href="javascript:modify_taskmapping()" class="coolbg"><{$remote_task.modify_camer|capitalize}></a>&nbsp;
				<a title="<{$remote_task.del_camer|capitalize}>" href="javascript:del_taskmapping()" class="coolbg"><{$remote_task.del_camer|capitalize}></a>&nbsp;
			</td>
		</tr>
	</table>

<script>
	rights_control(<{$is_right}>,"<{$admin_id}>","link_view");
</script>
	
</table>	
</td>
</tr>
</table>
	</td>
  </tr>
  </form>
  <tr>
    <td align="center">
		<table align="center"><tr><td><div class="link_style" align="center"><{$pagestr}></div></td></tr></table>
	</td>
  </tr>
<!--  搜索表单  -->
<form name='formsearch' action='keytask_mapping.php' method="get">
<input type='hidden' name='dopost' value='' />
<table width='98%'  border='0' cellpadding='1' cellspacing='1' class="middle" align="center" style="margin-top:8px">
  <tr>
    <td background='skin/images/wbg.gif' align='center'>
      <table border='0' cellpadding='0' cellspacing='0'>
        <tr>
          <td width='90' align='center'><{$Searchform.Search_conditions}></td>
          <td width='160'>
		  <select class="colors" name='searchkey' id="searchkey" style='width:150px'>
		    <option value=""><{$Searchform.Select_type}></option>
			 <option value="name"><{$Searchform.camer_name}></option>
         
          </select>
		  </td>
        <td width='70'>
         <!-- <{$Searchform.Keyword}>-->
		</td>
        <td width='160'>
          	<input class="colors" type='text' name='searchvalue' id="searchvalue" value='' style='width:150px' />        
		</td>
        <td width='110'>
			<select class="colors" name='searchsequence' id="searchsequence" style='width:80px'>
			  <option value=""><{$Searchform.Sort}></option>
			</select>        
		</td>
       <td>
          <input name="imageField" type="image" src="<{$remote_task.search_image}>" width="45px" height="20px" border="0px" class="np" />        
	   </td>       
       </tr>
      </table>
    </td>
  </tr>
</table>
</form>
<script language="javascript">
	var get_user_right = "<{$is_right}>";

	if(get_user_right == 1)
	{
		//什么也不做
	}
	else
	{
		var get_a_objects = document.getElementsByTagName("a");
		for(var i=0; i<get_a_objects.length; i++)
		{
			get_a_objects[i].href = "javascript:void(0);";
			get_a_objects[i].onclick = null;
			get_a_objects[i].style.color="#787878";
		//	get_a_objects[i].disabled = true;
		}
	}
</script>