<form action="do.php?act=bellcop_msg&id=<{$taskid}>" method="post" name="bellForm" onSubmit="return checkform();" class="terminal_form_to_body">
	   <table width="500" border="0" align="center" cellpadding="0" cellspacing="0" class="terminal_table_border">	
		  <tr>
			<td>
			 <table border="0" align="center" cellpadding="0" cellspacing="0">
			 	<tr>
					<td>
						<img src="<{$bellcopy.copy_bell_image}>"/>
					</td>
				</tr>
			 </table>
			</td>
		  </tr>
		  <tr>
		  	<td>
			  <table border="0" align="center" cellpadding="5" cellspacing="0" style="margin-top:10px;"> 
				  <tr class="bgcolors1">
					<td width="25%" height="" align="right"><{$bellcopy.Bell_name}></td>
					<td width="51%" height="" align="left" valign="middle">
						<input class="terminal_input_font" name="bellName" type="text" id="bellName">		
						<span id="bellName_s" class="terminal_star">*</span>				
					</td>			 
				  </tr>	 
			
				  <tr>
					<td align="center" colspan="2">
						<input name="Submit" type="submit" class="terminal_button" value="<{$bellcopy.Create}>"/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input name="reset" type="reset" class="terminal_button" id="reset" value="<{$bellcopy.Cancel}>" />
					</td>
				  </tr>
			 </table>
			</td>
		 </tr>
   	  </table>

</form>