<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$Streammanager.Partition_Manager}></title>
<script src="skin/js/frame/sort_data_table.js" type="text/javascript"></script>
<script src="skin/js/frame/jzdd.js" type="text/javascript"></script>
<link href="skin/css/main_page_style.css" rel="stylesheet" type="text/css" />
<style>
 
	/* 奇数行样式 */
	tr:nth-child(odd) {
		background-color: #ffffff;
	}
	
	/* 偶数行样式 */
	tr:nth-child(even) {
		background-color: #c1cfe0;
	}
</style>
<script type="text/javascript">
function getCheckboxItem()
{
	var allSel="";
	var temp="";
	var aaa;
	if(document.form2.id.checked)
	{
		allSel=document.form2.id.value;
		if(allSel==undefined)
		{
			allSel="";
		}
	}
	
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
			if(allSel=="")
				allSel=document.form2.id[i].value;
			else{
				temp=document.form2.id[i].value;
			
				var words = temp.split('|');
				var allSels = allSel.split('|');

				aaa = allSels[0] + ","+ words[0] + "|" + allSels[1] + "," +words[1];
				allSel=aaa;
			}
			
		}
	}
	return allSel;
}

function getoneitem()
{
	var allSel;
	var count=0;
	if(document.form2.id.checked)
	{
		allSel=document.form2.id.value;

		if(allSel==undefined)
		{
			allSel="";
		}
	}

	for(var i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{	
			count++;
			if(count>=2)
			{
				alert("<{$stream_manager.Only_select_one|capitalize}>");
				return void(0);
			}
		}
	}
	
	for(var i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{	
			allSel=document.form2.id[i].value;
			break;
		}
	}

	if(allSel=="")
	{
		alert("<{$stream_manager.select_area|capitalize}>");
		return void(0);
	}
	return allSel;	
}

function selAll(aid)
{
	if(aid==0)
	{
		document.form2.id.checked=true;
	}
	for(i=0;i<document.form2.id.length;i++)
	{
		if(!document.form2.id[i].checked)
		{
			document.form2.id[i].checked=true;
		}
	}
}

function noSelAll(aid)
{
	if(aid==0)
	{
		document.form2.id.checked=false;
	}
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
			document.form2.id[i].checked=false;
		}
	}
}

function delStream()
{
	var qstr=getCheckboxItem();

	if(qstr==null||qstr=="")
	{
		alert("<{$stream_manager.select_area|capitalize}>");
		return void(0);	
	}
	else
	{
		if(!window.confirm("<{$stream_manager.Determine_remove|capitalize}>"))
		{
			return void(0);
		}	
		else
		{
			location="do.php?act=aidevicedel_msg&id="+qstr+"";
		}
	}
}

function modifyStream()
{
	var qstr=getoneitem();

	var words = qstr.split('|')
	if(qstr==null||qstr=="")
	{
		return void(0);	
	}
	else
	{
		location.href="aideviceedit.php?id="+words[0]+"&shibiedeviceid="+words[1];
	}
}

function addfolder(obj,get_folder_id)
{
		window.location.href="filefolderdo.php?sign=ai_add&id="+get_folder_id+"&userid=1";
}
function delfolder(obj,get_folder_id)
{ 
   if(!window.confirm("<{$stream_manager.confirm_deleting|capitalize}>"))
	{
		return void(0);
	}	
	else
	{
		location="do.php?act=aifolderdel_msg&id="+get_folder_id+"";
	}
}

function modifyfolder(obj,get_folder_id)
{
	
	window.location.href="filefolderdo.php?sign=ai_modify&id="+get_folder_id+"";
		
}



</script>
</head>
<body>
<{include file="ai_Manager/ai_people_form.html"}> 
<{include file="language/`$language`_foot.php"}> 
</body>
</html>