<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DisplayAreaTerminal</title>

<link href="skin/css/main_page_style.css" rel="stylesheet" type="text/css" />
<style>
 
	table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 20px;
	}
	
	
	
	td {
		padding: 5px;
		
	}
	
	/* 奇数行样式 */
	tr:nth-child(odd) {
		background-color: #ffffff;
	}
	
	/* 偶数行样式 */
	tr:nth-child(even) {
		background-color: #c1cfe0;
	}
</style>
<script>
function isNull(str)
{ 
 if ( str == "" )
 return true; 
 var regu = "^[ ]+$"; 
 var re = new RegExp(regu); 
 return re.test(str); 
} 

function getCheckboxItem()
{
	var allSel="";
	if(document.form2.id.checked)
	{
		allSel=document.form2.id.value;
		if(allSel==undefined)
		allSel="";
	}
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
			if(allSel=="")
				allSel=document.form2.id[i].value;
			else
				allSel=allSel+","+document.form2.id[i].value;
		}
	}
	return allSel;
}

function selAll(aid)
{
	if(aid==0)
	{
		document.form2.id.checked=true;
	}
	for(i=0;i<document.form2.id.length;i++)
	{
		if(!document.form2.id[i].checked)
		{
			document.form2.id[i].checked=true;
		}
	}
}
function noSelAll(aid)
{
	if(aid==0)
	{
		document.form2.id.checked=false;
	}
	for(i=0;i<document.form2.id.length;i++)
	{
		if(document.form2.id[i].checked)
		{
			document.form2.id[i].checked=false;
		}
	}
}
function modifyalarmarea()
{
	var get_id = getCheckboxItem();

	if(isNull(get_id))
	{
		alert('<{$alarm_zone.select_alarms_Zone|capitalize}>');
		
		return void(0);
	}
	if(get_id.split(",").length !=1)
	{
		alert('<{$alarm_zone.select_one|capitalize}>');
		
		return void(0);
	}
	else
	{
		window.location.href = "modify_alarm_area.php?id="+get_id+"";
	}
}

function delalarmarea()
{
	var get_id = getCheckboxItem();
	if(isNull(get_id))
	{
		alert('<{$alarm_zone.select_alarms_Zone|capitalize}>');
		
		return void(0);
	}
	else
	{
		if(window.confirm('<{$alarm_zone.confirm_deleting|capitalize}>'))
		{
			window.location.href= "do.php?act=del_alarm_area&id="+get_id+"";
		}
		else
		{
			return void(0);
		}
	}
}

function createalarmarea()
{
	window.location.href = "createalarmarea.php";
}
</script>
</head>
<body>	
<{include file="alarmmanager/display_area_form.html"}> 
<{include file="language/`$language`_foot.php"}>
</body>
</html>
