<table width="400" border="0" align="center" cellpadding="0" cellspacing="10" bgcolor="#CBD8AC">
  <tr>
    <td><form name="form1" method="post" action="do.php?act=login" onSubmit="return checkform();">
      <table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF" style="border:#d5e4f4 solid 1px;">
        <tr>       
          <td colspan="2"><img src="images/gif_47_106.gif" width="48" height="48"><img src="images/login.gif" width="100" height="48"></td>
          </tr>
        <tr>
          <td width="35%" align="right"><strong>账户：</strong></td>
          <td width="65%"><input type="text" name="username" id="username" style="width:120px"><span id="username_s"></span></td>
          </tr>
      
        <tr>
          <td align="right"><strong>密码：</strong></td>
          <td><input type="password" name="userpwd" id="userpwd"  style="width:120px"/><span id="userpwd_s"></span></td>
          </tr>
        <tr>
          <td align="right"><strong>验证码：</strong></td>
          <td><input name="checknum" type="text" id="checknum" size="5"> <img src="verify.php"  align="absmiddle"/><span id="num_s"></span></td>
          </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" name="button" id="button" value="提交" class="bt"></td>
          </tr>
      </table>
        </form></td>
  </tr>
</table>
